body{
    background:#ccc;
  }
  .main {
    width:100%;
    
    display:block;
    margin:0 auto;
  }
  
  .action{
    display:block;
    margin:100px auto;
    width:100%;
    text-align:center;
  }
  .action a {
    display:inline-block;
    padding:5px 10px; 
    background:#f30;
    color:#fff;
    text-decoration:none;
  }
  .action a:hover{
    background:#000;
  }
  . image{
      padding: 10px;
  }